body {
    --french-violet: hsla(264, 83%, 80%, 1);
    --eerie-black: hsla(15, 11%, 15%, 1);
    --star-command-blue: hsla(204, 87%, 74%, 1);
    --blue-bell: hsla(258, 16%, 81%, 1);

    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:var(--eerie-black);
    color: var(--star-command-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
    
}

a {
    text-decoration: none;
}
a:visited {
    color: var(--blue-bell);
}

a:hover {
    color: var(--french-violet);
}

h1 {
    font-size: xx-large;
    color: var(--french-violet);
}
h2 {
    font-size: x-large;
    font-weight: bold;
    color: var(--french-violet);
}
h3 {
    font-size: large;
    color: var(--french-violet);
}
main {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.throws {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
input {
    display: none;
}

input + img {
    border-radius: 10px;
}

input + img:hover {
    cursor: pointer; 
}

input:checked + img {
    border: solid 3px var(--blue-bell);
}

button:hover {
    cursor: pointer;
    color: var(--french-violet);
    background-color:var(--eerie-black);
}

button {
    color:var(--eerie-black);
    background-color:var(--french-violet);
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
}
.scores {
    display: grid;
}

.current-round-score {
    grid-area: 1 / 1 / 2 / 3 ;
    display: grid;
}
.current-round {
    /* border:1px solid var(--blue-bell) ; */
    border-radius: 10px;
    padding: 10px;    
}

.top-row {
    grid-area:1 / 1 / 2 /4 ;
}

.bottom-row {
    grid-area: auto;
}

.total-box {
    grid-area: 2 / 1 / 3 / 2;
}

.wins-box {
    grid-area: 2/2/3/3;
}

.losses-box {
    grid-area: 3/1/4/2;
}

.draws-box {
    grid-area: 3/2/4/3;
}

/* div, section {
    border: solid 3px red;
} */